* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.full-back {
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.full-back::after {
  content: "";
  opacity: 0.1;
  top: 5rem;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -2;
  background: url("img/nube.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-item img{
  width: 100%;
}
